:root {
    --header-height: 80px;
    --mobile-header-height: 64px;
    --footer-left-height: 144px;
    --mobile-footer-height: 84px;
    --sidebar-width: 280px;
    --navbar-width: 260px;

    /* colors */
    --lime-300: #bef264;
}
html::-webkit-scrollbar-button {
    background-color: rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.16);
    border-radius: 8px;
}
::-webkit-scrollbar {
    width: 8px;
}
